body {
    margin:0;
    font-family: Arial;
}

.main{
    height: 100vh;
    background-color: rgb(200, 214, 228);
    font-size: 0;
    position:relative;
}

.title{
    z-index: 1;
    font-size: 6vw;
    top:11%;
    right: 30%;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: antiquewhite;
}

/* .recipeTitle{
    font-size: 4vw;
    position: relative;
    display: inline-block;
    top: 23%;
    left: 34%;
}

.eatOutTitle{
    font-size: 4vw;
    position: relative;
    display: inline-block;
    top: 23%;
    left: 135%;
} */

.recipes{
    height: 100%;
    width: 50vw;
    background-color: lightslategray;
    display: inline-block;
    position:relative;
    background-repeat: no-repeat;
    background-image: url("../css/eatInImg.jpg");
    /* background-size: 100%; */
}

.yelp{
    height: 100%;
    width: 50vw;
    background-color: darkslategray;
    display: inline-block; 
    background-image: url("../css/eatOutImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position-x: center;
}

#recipeButton{
    width: 23%;
    padding: 10px;
    background: #2196F3;
    color: #ccedda;
    font-size: 1.5vw;
    border: 2px solid black;
    cursor: pointer;
    top: 71%;
    position: relative;
    right: -41%;
}

#yelpButton{
    width: 22%;
    padding: 10px;
    background: #2196F3;
    color: #ccedda;
    font-size: 1.5vw;
    border: 2px solid black;
    cursor: pointer;
    top: 70%;
    position: absolute;
    right: 36%;
}

.backgroundImg{
    background-image: url(http://www.2ruidosoredheads.com/Portals/_2ruidosoreadheads/images/default/Nightlife.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#foodSearchBar, #drinkSearchBar {
    padding: 10px;
    font-size: 17px;
    border: 2px solid black;
    width: 30%;
    background: #f1f1f1;
    height: 5vh;
}

#foodSearchBar{
    border-radius: 15px 0 0 15px;
}


#searchButton {
    width: 6%;
    padding: 10px;
    background: #2196F3;
    color: #ccedda;
    font-size: 17px;
    border: 2px solid black;
    cursor: pointer;
    height: 5vh;
    border-radius: 0 15px 15px 0;
}

/*#foodContainer{
    width: 50%;
    height:100%;
    position: relative;
    display: inline-block;
}

#drinkContainer{
    width: 50%;
    height: 100%;  
    position: relative;
    display: inline-block;
}*/

.carousel-item{
    height: 100vh;
    /*background-color: #204d74;*/
}

/*.slide1,.slide2,.slide3{


}*/
.resultsContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: inherit;
    color: white;
}
#displayArea{
    height: 85%;
}
/* 
#close{
    position:absolute;
    top:3px;
    right:20px;
    width:26px;
    height:24px;
    background-color:  #ccedda;
    border-radius:100%;
    border: 2px solid slategray;
    box-shadow: 4px 4px 4px slategray;
    font-weight: bold;
    color: slategray;
    vertical-align: middle;
    z-index: 4;
} */


/* selectionPage */
/* .choiceHeaderContainer{
    height:5vh;
    background-color: rgb(240, 120, 120);
    text-align: center;
}

.choiceBody{
    height: 95vh;
    background-color: rgb(107, 107, 255);
    font-size:0;
    position: relative;
}

.allfoodContainer{
    height: 100%;
    width:85%;
    background-color: rgb(96, 255, 255);
    display: inline-block; 
}

.drinkContainer{
    height: 100%;
    width:15%;
    background-color: rgb(255, 255, 140);
    display: inline-block;
    font-size: 1rem;
    position: absolute;
}

.foodContainer {
    height: 33%;
    width: 100%;
    background-color: rgb(229, 100, 255);
    border: solid black 1px;
}

.foodPhotoContainer{
    height: 100%;
    width: 75%;
    background-color:rgb(254, 164, 99);
    display: inline-block;
}

.foodDescriptionContainer{
    height: 100%;
    width: 25%;
    background-color:rgb(184, 113, 255);
    display: inline-block;
} */

.hide{
    display: none;
}



